/* style for the body elements */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0px;
	padding: 0px;
	overflow: scroll;
}

/* Top banner */

#banner {
	overflow: hidden;
	padding-bottom: 10px;
	border-bottom: solid 1px black;
}

#banner > img {
	float: left;
	width: 50px;
}

#banner img {
	width: 50px;
	vertical-align: middle;
}

#banner a, #banner a:hover {
	text-decoration: none;
	border: none;
	background-color: inherit;
}

#banner > span {
	float: right;
}

/* heading title */

h1 {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 32pt;
	font-weight: bold;
	/* text-shadow: 3px 3px #999999; */
	text-align: center;
}

/*///// Content page /////*/

#content {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 800px;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    border-radius: 20px;
    overflow: hidden;
    background-color: #A2B964;
  }

/* */

#banner span {
    float: right;
	color: white;
	vertical-align: middle;
	font-size: 100%;
	padding-right: 10px;
}

#banner span img {
	width: 50px;
	vertical-align: middle;
}

#banner span a {
	text-decoration: none;
}
#myObjectName,#hisObjectName {
	color: lightblue;
}
  